@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-neon-primary: 46 204 113;
    /* #2ECC71 in RGB */
  }

  body {
    @apply bg-app-black text-white font-sans antialiased;
  }
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}

@keyframes scan {
  0% {
    top: 10%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: 90%;
    opacity: 0;
  }
}